body {
    font-family: Open Sans, sans-serif;
    background-color: #E6DDDE;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10em;
    margin-top: 2em;
}

.box {
    max-width: 100%;
    background-color: white;
    padding: 0.5em;
    box-shadow: 6px 5px 20px 1px rgba(0,0,0,0.22);
}

fieldset { border: 0pt}
legend { font-weight: 700; }

input {
    border: none;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
    width: 100%;
    height: 2em;
}

.box ul {
    list-style: none;
    
}

.box h1 {
    font-size: 1.2em;
}

