body {
    font-family: Open Sans, sans-serif;
    background-color: #FAFAFA;
}

.container {
    margin: 2rem 8rem;
    background-color: #BDBDBE;
    box-shadow: 6px 5px 20px 1px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column; 
    align-items: center;
    align-content: center;
    justify-content: center;

}

article {
    width: 600px;
    margin: 1rem;
}

input, button, select, textarea {
  width: 100%;
  display: block;
  margin:10px 0;
  padding:10px;
  border:0;
  font-size: 1.5rem;
  background:#F7F7F7;
  outline:0;
}

textarea {
  height: 15rem;
}


button {
  background:#ffc600;
  border:0;
  width: 30%;
  float:left;
  margin-bottom: 0;
  font-size: 1.5rem;
  border-bottom: 5px solid #F3C010;
  cursor:pointer;
  position: relative;
}


label {
    margin-top: 1rem;
    font-size: 1rem;
    display: block;
}